@model HomeViewModel
<partial name="_Carousel"/>
<div class="row">
    @foreach(var pie in Model.PiesOftheWeek)
            {
                <partial name="_PieCard" model="pie"/>
            }
</div>